

.about {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e9e9e9;
    .section-title {
        padding: 0;
    }
    .title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    &__text-wrapper {
        position: relative;
        margin-top: 10px;
        padding-left: 13px;
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 40px;
            left: -40px;
            background: url("../img/pattern_reverse.png");
            transition: all 700ms ease-in-out;
            transition-delay: 0.5s;
        }
        p {
            max-width: 550px;
            .color_blue {
                color: $accent-color;
                font-weight: 500;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .title_stripped {
        &:after {
            transition: all 800ms;
            transition-delay: 0.5s;
            height: 1px;
        }
    }

    .scroll-btn {
        display: none;
        position: absolute;
        left: 51%;
        bottom: 10%;
        &__text {
            color: #000;
            opacity: 1;
        }
        &__chevron {
            margin-left: -2px;
            margin-top: 40px;
            &:before, &:after {
                background: #000;
            }
        }
        svg {
            .st0 {
                stroke: #000;
            }
        }

    }

    @include tablet-portrait {
        .title {
            font-size: 80px;
            line-height: 0.95;
        }
        &__text-wrapper {
            margin-left: 110px;
            margin-top: 20px;
            &:before {
                width: 135px;
                transform: translateX(-115px);
            }
        }
    }

    @include tablet-landscape {
        .scroll-btn {
            display: block;
            bottom: 5%;
        }
    }

    @include desktop {
        padding-top: 40px;
        padding-bottom: 0;
        .scroll-btn {
            bottom: 10%;
            left: 55%;
        }
        .title {
            font-size: 82px;
            line-height: 0.95;
            margin-left: -9px;
            &_stripped {
                &:after {
                    height: 1px; //anim prop
                    bottom: 11px;
                    margin-left: -15px;
                }
            }
        }
        &__text-wrapper {
            margin-left: 130px;
            margin-top: 20px;
            &:before {
                width: 135px;
                transform: translateX(-200%);
            }
        }
    }
    @include desktop-hd {
        .scroll-btn {
            left: 50%;
        }
        .title {
            font-size: 150px;
            line-height: 0.9;
            margin-left: -13px;
            &_stripped {
                &:after {
                    height: 1px; //anim prop
                    bottom: 11px;
                }
            }
        }
        &__text-wrapper {
            margin-left: 329px;
            margin-top: 33px;
            &:before {
                width: 329px;
                transform: translateX(-200%);
            }
        }
    }
    @include desktop-2k {
        .title {
            font-size: 190px;
            letter-spacing: -0.6rem;
        }
        &__text-wrapper {
            p {
                max-width: 800px;
                font-size: 19px;
                font-weight: 300;
                color: darken(#656565, 30%);
            }
        }
    }
}



.active.about {
    .title {
        &_stripped {
            &:after {
                height: 26px;
            }
        }
    }
    @include tablet-landscape {
        .title {
            &_stripped {
                &:after {
                    height: 43px;
                    bottom: 9px;
                    margin-left: -10px;
                }
            }
        }
    }
    @include desktop {
        .title {
            &_stripped {
                &:after {
                    height: 43px;
                }
            }
        }
        .about__text-wrapper {
            &:before {
                transition-delay: 0.3s;
                transform: translateX(-100%);
            }
        }
    }
    @include desktop-hd {
        .title {
            &_stripped {
                &:after {
                    bottom: 13px;
                    height: 81px;
                    margin-left: -23px;
                }
            }
        }
        .about__text-wrapper {
            &:before {
                transition-delay: 0.3s;
                transform: translateX(-100%);
            }
        }
    }
    @include desktop-2k {
        .title {
            &_stripped {
                &:after {
                    bottom: 15px;
                    height: 102px;
                    margin-left: -23px;
                }
            }
        }
    }
}