.home-screen {
    background: #101010 url("../img/bg_1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    .scroll-btn {
        position: absolute;
        left: 50%;
        bottom: 10%;
        margin-left: -14px;
    }
    .logo {
        opacity: 0;
        z-index: 100;
    }
    #bg1_anim {
        position: absolute;
        top:50%;
        left: 50%;
        height: auto;
        width: 840px;
        transform: translate(-50%, calc(-50% + 29px));
        display: none;
        @include tablet-landscape {
            display: block;
            width: 1180px;
            transform: translate(-50%, calc(-50% + 23px));
        }
        @include desktop {
            display: block;
            width: 1540px;
            transform: translate(-50%, calc(-50% + 19px));
        }
        @include desktop-hd {
            width: 2040px;
            transform: translate(-50%, calc(-50% + 10px));
        }
        @include desktop-2k {
            width: 2569px;
            transform: translate(-50%, calc(-50% - 1px));
        }
    }
}