.partners {
    padding-top: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 1.5rem;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .section-title {
            width: 250px;
            margin: 0 45px;
        }
        &:first-child {
            padding-bottom: 40px;
        }

    }
    .partner {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 45px 45px;
        //filter: grayscale(100%);
        transition: all 300ms ease;
        text-decoration: none;
        &__logo {
            align-self: flex-end;
            >img {
                width: 100%;
                min-width: 205px;
            }
        }
        &:hover {
            //filter: grayscale(0);
        }
        &__name {
            font-family: 'Yanone Kaffeesatz';
            letter-spacing: 0.2em;
            color: #999999;
            font-size: 20px;
            font-weight: 300;
            padding-top: 7px;
            align-self: flex-end;
        }
    }

    @include desktop {
        .partner {
            margin: 0 50px 120px;
            &__logo {
                >img {
                    min-width: 250px;
                }
            }
        }
        &__row {
            .section-title {
                margin: 0 50px;
            }
        }
    }
    @include desktop-hd {
        .section-title {
            width: 340px;
        }
        .partner {
            width: 340px;
            &__logo {
                > img {
                    width: 130%;
                }
            }
        }
        .partner__name {
            font-size: 22px;
        }
    }
    @include desktop-2k {
        .section-title {
            width: 400px;
        }
        .partner {
            width: 400px;
            &__logo {
                > img {
                    width: 140%;
                }
            }
        }
        .partner__name {
            font-size: 22px;
            letter-spacing: 0.1rem;
        }
    }
}