
.project-detail {
    overflow: hidden;
    padding: 1.5rem 0 0;
    position: relative;

    .scroll-btn {
        display: none;
    }

    &__next-btn {
        display: none;
    }
    &__item {
        background: #fff;
        display: flex;
        flex-direction: column-reverse;
        &_green {
            ul li:before {
                background: $green-color;
            }
            .project-detail__left {
                .btn {
                    background: $green-color;
                    &_outline {
                        background: transparent;
                        border:2px solid $green-color;
                        color: $green-color;
                    }
                }
            }
        }
    }
    &__title {
        font-size: 38px;
        font-weight: 600;
        line-height: 1.1;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &__subtitle {
        font-size: 21px;
        margin-bottom: 15px;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__left {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 13px;
        .btn {
            font-weight: 400;
            align-self: center;
            text-decoration: none;
            padding-left: 30px;
            padding-right: 30px;
            &:first-child {
                margin: 0 20px 0 0;
            }

            &_outline {
                background: transparent;
                border:2px solid $blue-color;
                color: $blue-color;
            }

        }
        p {
            margin-bottom: 15px;
        }
        ul {
            margin-bottom: 0;
        }
    }
    &__right {
        width: 100%;
        overflow: hidden;
        position: relative;
        .zoom {
            &-btn {
                display: block;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
            &-icon {
                content: "";
                background: url("../img/zoom_icon.svg") no-repeat center center;
                display: block;
                width: 50px;
                height: 50px;
                filter: invert(100%) drop-shadow(0 0 5px rgba(0,0,0,1)) drop-shadow(0 0 50px rgba(0,0,0,1)) drop-shadow(0 0 50px rgba(0,0,0,1));
                transition: all 300ms ease;
            }
        }
        &:after {
            content: "";
            display: block;
            height: 10px;
            width: 100%;
            bottom: 0;
            position: absolute;
            background: rgba(255,255,255,0.6) url("../img/pattern_reverse.png");
            opacity: 0.6;
        }
    }
    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }







    @include tablet-landscape {
        padding: 0;

        .scroll-btn {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 5%;
            margin-left: -25px;
            z-index: 500;
            &__text {
                color: #000;
                opacity: 1;
            }
            svg {
                .st0 {
                    stroke: #000;
                }
            }
        }

        &__title {
            font-size: 42px;
        }
        &__next-btn {
            position: absolute;
            right: 10px;
            top:50%;
            z-index: 100;
            padding: 12px 10px 8px;
            display: block;
            background: rgba(255,255,255,0.85);

            cursor: pointer;
            color: #000;
            //text-shadow: 0 0 4px rgba(0,0,0,0.7), 0 0 8px rgba(0,0,0,0.7);
            text-transform: uppercase;
            font-family: "Yanone Kaffeesatz";
            letter-spacing: 0.14rem;
        }
        &__item {
            display: flex;
            flex-direction: row;
            height: 100%;
            position: absolute;
            transition: all 1000ms ease-in-out;
            transition-delay: 200ms;
            clip-path: inset(0 0% 0 0);
            opacity: 1;
            visibility: visible;
            &_hidden {
                clip-path: inset(0 100% 0 0);
                transition: all 1000ms ease-in-out;
                transition-delay: 0s;
                opacity: 0;
                visibility: hidden;
            }
        }


        &__left {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            .btn {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        &__right {
            width: 50%;
            overflow: hidden;
        }
    }


    @include desktop {
        padding: 0;
        &__title {
            font-size: 48px;
        }
        &__item {
            display: flex;
            flex-direction: row;
        }
        &__left {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            padding: 35px;
        }
        &__right {
            width: 50%;
            overflow: hidden;
        }
    }

    @include desktop-hd {
        &__title {
            font-size: 60px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                height: calc(100% - 30px);
                width: 260px;
                background: url("../img/pattern_reverse.png");
                left: -33px;
                transform: translateX(-100%);
            }
        }
        &__right {
        }
        &__left {
            transition-duration: 1s;
            padding-left: 260px;
            padding-right: 180px;
            p, ul {
                margin-bottom: 20px;
            }
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .btn {
                padding-bottom: 13px;
                align-self: flex-start;
                //margin-top: 10px;
            }
        }
    }
    @include desktop-hd {
        &__title {
            font-size: 80px;
            line-height: 0.95;
            letter-spacing: -0.1rem;
            margin-bottom: 20px;
        }
    }
}
