
.project-detail {
    overflow: hidden;
    padding: 1.5rem 0 0;
    &__item {
        display: flex;
        flex-direction: column-reverse;
        &_green {
            ul li:before {
                background: $green-color;
            }
            .btn {
                background: $green-color;
            }
        }
    }

    &__title {
        font-size: 38px;
        font-weight: 600;
        line-height: 1.1;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    &__subtitle {
        font-size: 21px;
        margin-bottom: 15px;
    }

    $animation: all 500ms ease-in-out;
    &__left {
        //transition: $animation;
        //transition-delay: 0.3s;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 13px;
        .btn {
            font-weight: 400;
            align-self: center;
        }
        p {
            margin-bottom: 15px;
        }
        ul {
            margin-bottom: 0;
        }
    }
    &__right {
        //transition: $animation;
        width: 100%;
        overflow: hidden;
    }
    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




    @include tablet-landscape {
        padding: 0;
        &__title {
            font-size: 42px;
        }
        &__item {
            display: flex;
            flex-direction: row;
            height: 100%;
        }
        &__left {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            transition: $animation;
        }
        &__right {
            width: 50%;
            overflow: hidden;
            transition: $animation;
        }
        &_hide {
            .project-detail {
                &__left {
                    opacity: 0;
                    transform: translateY(-100%);
                }
                &__right {
                    opacity: 0;
                    transform: translateY(100%);
                }
            }
        }
    }


    @include desktop {
        padding: 0;
        &__title {
            font-size: 48px;
        }
        &__item {
            display: flex;
            flex-direction: row;
        }
        &__left {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            padding: 35px;
            transition: $animation;
        }
        &__right {
            width: 50%;
            overflow: hidden;
            transition: $animation;
        }
        &_hide {
            .project-detail {
                &__left {
                    opacity: 0;
                    transform: translateY(-100%);
                }
                &__right {
                    opacity: 0;
                    transform: translateY(100%);
                }
            }
        }
    }

    @include desktop-hd {
        &__title {
            font-size: 60px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                height: calc(100% - 30px);
                width: 260px;
                background: url("../img/pattern_reverse.png");
                left: -33px;
                transform: translateX(-100%);
            }
        }
        &__right {
            transition-duration: 1s;
        }
        &__left {
            transition-duration: 1s;
            padding-left: 260px;
            padding-right: 180px;
            p, ul {
                margin-bottom: 20px;
            }
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .btn {
                padding-bottom: 13px;
                align-self: flex-start;
                margin-top: 10px;
            }
        }
    }
}
