.projects {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0 1.2rem 13px;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    &-devider {
        height: 1px;
        background: #e9e9e9;
        margin-left: -13px;
        width: calc(50% + 13px);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    .project-item__wrapper {
        width: 100%;
        max-width: 520px;
        overflow-x: hidden;
        overflow-y: visible;
        padding: 40px 0 70px;
        position: relative;
        margin-right: -13px;
        &:first-child {
            margin-bottom: 25px;
        }
        &:last-child {
            padding-top: 40px + 25px;
            /*
            &:before {
                content: "";
                width: calc(50% + 7px);
                height: 1px;
                background: #e9e9e9;
                display: block;
                position: absolute;
                top:0;
            }
            */
        }
    }

    .scroll-btn {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 10%;
        margin-left: -15px;
        margin-top: 80px;
        z-index: 100;
        &__text {
            color: #000;
            opacity: 1;
        }
        &__chevron {
            margin-left: -2px;
            margin-top: 40px;
            &:before, &:after {
                background: #000;
            }
        }
        svg {
            .st0 {
                stroke: #000;
            }
        }
    }

    .project {
        width: 100%;
        max-width: 520px;
        height: 100%;
        min-height: 320px;
        position: relative;
        &__btn {
            font-family: 'Yanone Kaffeesatz';
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #fff;
            padding: 14px 50px 10px 50px;
            border: none;
            border-radius: 0;
            background: #999;
            font-weight: 400;
            position: absolute;
            bottom: -25px;
            left: 50%;
            cursor: pointer;
            transform: translate(-50%, 100%);
        }
        &__text {
            position: absolute;
            z-index: 1;
            top:50%;
            left: 13px;
            transform: translate(0,-50%);
        }
        &__title {
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 10px;
            margin-left: -2px;
            line-height: 1.1;
        }
        &__cover {
            display: inline-block;
            float: right;
            position: relative;
            width: 50%;
        }
        &__cover-name {
            position: absolute;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Yanone Kaffeesatz';
            letter-spacing: 0.2em;
            line-height: 1;
            top:-40px;
        }
        &__cover-image {
            overflow: hidden;
            height: 320px;
            width: 320px;
            transition: all 500ms ease-in-out;
            transition-delay: 380ms;
            > img {
                height: 100%;
                width: auto;
            }
            &:before {
                content: "";
                background: rgba(255,255,255,0.6) url("../img/pattern_reverse.png");
                display: block;
                width: 50%;
                max-width: 100px;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
                opacity: 0.8;
            }
            &:after {
                content: "";
                background: url("../img/pattern_reverse.png");
                display: block;
                width: 145px;
                height: 145px;
                position: absolute;
                top:-40px;
                right: -134px;
                z-index: -1;
            }
        }

        // M O D I F I C A T O R S
        &_current {
            .project {
                &__btn {
                    background: $blue-color;
                }
                &__cover-image {
                    &:after {
                        right: -110px;
                    }
                }
            }
            .section-title {
                position: absolute;
                top: 68px;
                left:13px;
            }
        }

        &_done {
            .project {
                &__btn {
                    background: $green-color;
                }
            }
        }

    }
    &.active {
        .project__cover-image {
            clip-path: inset(0 -30% 0 0);
        }
    }


    // T A B L E T

    @include tablet-portrait {

        &__wrapper {
            .projects-devider {
                width: 100%;
                transform: translateX(-50%);
            }
        }

        .project-item__wrapper {
            margin-right: 0;
            overflow: visible;
            max-width: 520px;
            &:last-child {
                padding-top: 75px;
                &:before {
                    left: 0;
                }
            }
            &:first-child {
                margin-bottom: 0;
                padding-bottom: 45px;
            }
        }

        .projects__wrapper {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }


        .project {
            max-width: none;
            width: 585px;
            padding-right: 40px;
            min-height: 340px;
            &__text {
                left: -50px;
            }
            &__cover {
                margin-right: 0;
                width: auto;
                &-image {
                    width: 340px;
                    height: 340px;
                    &:before {
                        width: 10px;
                    }
                    &:after {
                        right: -40px;
                    }
                }
                &-name {
                    font-size: 16px;
                }
            }

            &__btn {
                left: -50px;
                bottom: 40px;
                transform: none;
                z-index: 2;
            }

            &_current {
                .section-title {
                    left: -50px;
                }
                .project {
                    &__cover-image {
                        &:after {
                            right: -40px;
                        }
                    }
                }
            }
        }


    }

    @include tablet-landscape {
        padding: 13px;

        &-devider {
            display: none;
        }

        .scroll-btn {
            display: block;
        }

        .project-item__wrapper {
            width: 50%;
            max-width: 540px;
            padding: 0;
            &:first-child {
                padding-bottom: 0;
                padding-top: 65px;
            }
            &:last-child {
                padding-top: 65px;
            }
        }

        .project {
            width: 100%;
            min-height: 290px;
            padding-right: 20px;
            &__btn {
                bottom: 20px;
                left: 0;
                max-width: 160px;
            }
            &__text {
                left: 0;
            }
            &__cover {
                margin-right: 0;
                &-image {
                    width: 300px;
                    height: 290px;
                    clip-path: inset(0 100% 0 0);
                    &:after {
                        right: -20px;
                    }
                    &:before {
                        max-width: 90px;
                        width: 50%;
                    }
                }
            }
            &_current {
                .section-title {
                    font-size: 14px;
                    top:50px;
                    left: 0;
                }
                .project {
                    &__cover-image {
                        &:after {
                            right: -20px;
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        padding-top: 35px;
        .project-item__wrapper {
            max-width: 645px;
        }
        .projects__wrapper {
        }
        .project {
            width: 645px;
            padding-right: 40px;
            min-height: 340px;
            &__text {
            }
            &__title {
                font-size: 48px;
                line-height: 1.1;
            }
            &__cover {
                margin-right: 0;
                &-image {
                    width: 400px;
                    height: 366px;
                    &:before {
                        max-width: 120px;
                    }
                    &:after {
                        right: -40px;
                    }
                }
            }
            &__btn {
                left: 0;
                bottom: 50px;
                transform: none;
            }
            &_current {
                .section-title {
                    font-size: 18px;
                    top:65px;
                }
                .project {
                    &__cover-image {
                        &:after {
                            right: -40px;
                        }
                    }
                }
            }
        }


    }

    @include desktop-hd {

        .projects__wrapper {
            padding-top: 80px;
        }
        .project {
            width: 927px;
            padding-right: 40px;
            min-height: 340px;
            &__text {
            }
            &__title {
                font-size: 60px;
                line-height: 1;
            }
            &__cover {
                margin-right: 0;
                &-name {
                    font-size: 22px;
                    top: -55px;
                }
                &-image {
                    width: 570px;
                    height: 520px;
                    &:before {
                        max-width: 100px;
                    }
                    &:after {
                        right: -40px;
                    }
                }
            }
            &__btn {
                left: 0;
                bottom: 110px;
                transform: none;
                font-size: 16px;
                max-width: none;
                padding-bottom: 14px;
            }
            &_current {
                .section-title {
                    font-size: 22px;
                    top:120px;
                }
                .project {
                    &__cover-image {
                        &:after {
                            right: -40px;
                        }
                    }
                }
            }
        }
        .project-item__wrapper {
            max-width: none;
            &:last-child {
                .project {
                    padding-right: 40px;
                }
            }
        }

    }

    @include desktop-2k {

        .projects__wrapper {
            padding-top: 80px;
        }
        .project {
            width: 927px;
            padding-right: 40px;
            min-height: 340px;
            &__text {
            }
            &__title {
                font-size: 75px;
                line-height: 1;
                letter-spacing: -0.2rem;
                margin-left: 25px;
            }
            &__cover {
                margin-right: -280px;
                &-name {
                    font-size: 22px;
                    top: -55px;
                }
                &-image {
                    width: 700px;
                    height: 620px;
                    &:before {
                        max-width: 43px;
                    }
                    &:after {
                        top: -50px;
                        right: -30px;
                    }
                }
            }
            &__btn {
                left: 29px;
                bottom: 110px;
                transform: none;
                font-size: 16px;
                max-width: none;
                padding-bottom: 14px;
            }
            &_current {
                .section-title {
                    font-size: 22px;
                    top:150px;
                    left: 29px;
                }
                .project {
                    &__cover-image {
                        padding-right: 0;
                        &:after {
                            right: -30px;
                        }
                    }
                }
            }
        }
        .project-item__wrapper {
            max-width: none;
            &:last-child {
                .project {
                    padding-right: 40px;
                }
            }
        }

    }
}







