.team {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-person {
        margin: 0 0 45px;
        width: 100%;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &__photo {
            position: relative;
            img {
                width: 100%;
                transition: all 600ms ease-in-out;
            }
            &:before {
                content: "";
                position: absolute;
                height: 155px;
                width: 155px;
                bottom: -13px;
                left: -13px;
                background: url("../img/pattern.png");
                z-index: -1;
                transition: all 600ms ease-in-out;
                transform: translate(40px, -50px);
                transition-delay: 900ms;
                opacity: 0;
            }
        }
        &__name {
            font-size: 40px;
            //display: block;
            font-weight: bold;
            line-height: 1;
            padding: 0.9rem 0 0.6rem;
        }
        &__regal {
            font-family: 'Yanone Kaffeesatz';
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #999999;
        }
        &:after {
            content: "";
            height: 1px;
            width: 50%;
            display: block;
            position: absolute;
            background: #e9e9e9;
            right: 0;
            bottom: -20px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    &.active {
        .team-person {
            &__photo {
                &:before {
                    transform: translate(0, 0);
                    opacity: 1;
                }
                img {
                    clip-path: inset(0 0 0 0);
                }
            }
            &:nth-child(1) {
                .team-person__photo img{
                    transition-delay: 400ms;
                }
            }
            &:nth-child(2) {
                .team-person__photo img{
                    transition-delay: 600ms;
                }
            }
            &:nth-child(3) {
                .team-person__photo img{
                    transition-delay: 800ms;
                }
            }
        }
    }

    @include tablet-portrait {
        &__super-wrapper {
            padding: 0 35px;
        }
        &-person {
            max-width: 300px;
            &:after {
                display: none;
            }
        }
    }
    @include tablet-landscape {
        &__wrapper {
            justify-content: space-between;
            margin-bottom: -60px;
        }
        &-person {
            &__photo {
                max-width: 270px;
                img {
                    clip-path: inset(0 100% 0 0);
                }
            }
            &__photo:before {
                width: 150px;
                left: -40px;
                bottom: -40px;
            }
            &__name {
                transform: translateX(120px);
            }
            &__regal {
                transform: translateX(120px);
            }
        }
    }


    @include desktop {
        padding: 0;
        &__super-wrapper {
            padding-left: 140px;
            padding-right: 140px;
        }
        &__wrapper {
            margin-bottom: 0;
        }
        &-person {
            margin-bottom: 0;
            &__photo {
                max-width: 280px;
            }
            &__name {
                transform: translate(117px, -5px);
                font-size: 44px;
            }
            &__regal {
                transform: translate(120px, -10px);
                font-size: 18px;
            }
        }
    }
    @include desktop-hd {
        &-person {
            margin-bottom: 0;
            max-width: 350px;
            &__photo {
                width: 100%;
                max-width: none;
                &:before {
                    width: 205px;
                    height: 150px;
                    bottom: 30px;
                    left: -30px;
                    transform: translateY(100%);
                }
                > img {
                    width: 100%;
                }
            }
            &__name {
                transform: translate(197px, -5px);
                font-size: 60px;
            }
            &__regal {
                transform: translate(200px, 0px);
                font-size: 22px;
            }
        }
    }

    @include desktop-2k {
        &__super-wrapper {
            width: 88%;
            margin: 0 auto;
        }
        &-person {
            margin-bottom: 0;
            max-width: 480px;
            &__photo {
                width: 100%;
                max-width: none;
                &:before {
                    width: 225px;
                    height: 300px;
                    bottom: -135px;
                    left: -30px;
                    transform: translateY(100%);
                }
                > img {
                    width: 100%;
                }
            }
            &__name {
                transform: translate(230px, -5px);
                font-size: 64px;
                letter-spacing: -0.1rem;
            }
            &__regal {
                transform: translate(236px, 0px);
                font-size: 22px;
            }
        }
    }


}