+b.project-detail.section.ignore.project-detail_hide
    +e.item._green
        +e.left
            +e.title
                | Микрорайон <br>
                .color_green Некрасовка <br> Парк
            +e.subtitle Новый крупный микрорайон на юго-востоке города Москвы.
            p Месторасположение: г. Москва, район Некрасовка, проспект Защитников Москвы.
            ul
                li Начало работ: сентябрь 2011 года
                li Завершение работ: 4 квартал 2014 года
                li Общая жилая площадь застройки: 360    000 кв.м.
                li Количество квартир: 6500 штук
            p Функции компании в проекте: финансирование проекта, организация строительства жилых зданий, объектов социальной инфраструктуры, инженерных сетей и дорог, реализация квартир и нежилых помещений
            button.btn.btn_green Промо сайт
        +e.right
            a(href="img/projects/detail_2.jpg" data-fancybox="images")
                +e.IMG.cover(src="img/projects/detail_2.jpg")

            div(style="display:none;")
                a(href="img/gallery/1/1.jpg" data-fancybox="images")
                a(href="img/gallery/1/2.jpg" data-fancybox="images")
                a(href="img/gallery/1/3.jpg" data-fancybox="images")
                a(href="img/gallery/1/4.jpg" data-fancybox="images")
                a(href="img/gallery/1/5.jpg" data-fancybox="images")

+b.project-detail.section.ignore.project-detail_hide
    +e.item
        +e.left
            +e.title
                | Микрорайон <br>
                .color_blue Румянцево <br>Парк
            +e.subtitle Новый крупный микрорайон на юго-востоке города Москвы.
            p Месторасположение: г. Москва, район Некрасовка, проспект Защитников Москвы.
            ul
                li Начало работ: сентябрь 2011 года
                li Завершение работ: 4 квартал 2014 года
                li Общая жилая площадь застройки: 360    000 кв.м.
                li Количество квартир: 6500 штук
            p Функции компании в проекте: финансирование проекта, организация строительства жилых зданий, объектов социальной инфраструктуры, инженерных сетей и дорог, реализация квартир и нежилых помещений
            button.btn.btn_blue Промо сайт
        +e.right
            +e.IMG.cover(src="img/projects/detail_1.jpg")