+b.project-detail.section.ignore
    +e.next-btn Следующий проект
    +e.item._hidden
        +e.left
            +e.title
                | Микрорайон <br>
                .color_blue Румянцево <br>Парк
            +e.subtitle Жилой комплекс бизнес-класса в Новой Москве.
            p Месторасположение: г. Москва, поселение Московский, в районе деревни Румянцево, участок № 17/1
            ul
                li Начало работ: сентябрь 2017 года
                li Завершение работ: 2020 год
                li Общая жилая площадь застройки: 222 000 кв.м.
                li Количество квартир: 4246 штук
            p Функции компании в проекте: финансирование проекта, организация строительства жилых зданий, объектов социальной инфраструктуры, инженерных сетей и дорог, реализация квартир и нежилых помещений
            +e.buttons
                button.btn.btn_blue Промо сайт
                a.btn.btn_outline(data-fancybox="images" href="img/gallery/1/1.jpg") Галерея
        +e.right
            +e.IMG.cover(src="img/projects/detail_1.jpg")
            div(style="display:none;")
                a(href="img/gallery/1/2.jpg" data-fancybox="images")
                a(href="img/gallery/1/3.jpg" data-fancybox="images")
                a(href="img/gallery/1/4.jpg" data-fancybox="images")
                a(href="img/gallery/1/5.jpg" data-fancybox="images")
    +e.item._green._hidden
        +e.left
            +e.title
                | Микрорайон <br>
                .color_green Некрасовка <br> Парк
            +e.subtitle Новый крупный микрорайон на юго-востоке города Москвы.
            p Месторасположение: г. Москва, район Некрасовка, проспект Защитников Москвы.
            ul
                li Начало работ: сентябрь 2011 года
                li Завершение работ: 4 квартал 2014 года
                li Общая жилая площадь застройки: 360 000 кв.м.
                li Количество квартир: 6434 штук
            p Функции компании в проекте: финансирование проекта, организация строительства жилых зданий, объектов социальной инфраструктуры, инженерных сетей и дорог, реализация квартир и нежилых помещений
            +e.buttons
                button.btn.btn_blue Промо сайт
                a.btn.btn_outline(data-fancybox="images-2" href="img/gallery/1/1.jpg") Галерея
        +e.right
            +e.IMG.cover(src="img/projects/detail_2.jpg")
            div(style="display:none;")
                a(href="img/gallery/1/2.jpg" data-fancybox="images-2")
                a(href="img/gallery/1/3.jpg" data-fancybox="images-2")
                a(href="img/gallery/1/4.jpg" data-fancybox="images-2")
                a(href="img/gallery/1/5.jpg" data-fancybox="images-2")


    include ../blocks/scroll-down-btn.pug