.section.projects
    .projects__wrapper
        .project-item__wrapper
            +b.project_current
                .section-title Наши проекты
                +e.text
                    +e.title
                        | Микрорайон <br>
                        span.color_green Некрасовка <br> Парк
                +e.BUTTON.btn.showDetailBtn(data-index="1") Подробнее
                +e.cover
                    +e.cover-name  ТЕКУЩИЙ ПРОЕКТ
                    +e.cover-image
                        img(src="img/projects/current_project.jpg")
        .projects-devider
        .project-item__wrapper
            +b.project_done
                +e.text
                    +e.title
                        | Микрорайон <br>
                        span.color_blue Румянцево <br> Парк
                +e.BUTTON.btn.showDetailBtn(data-index="2") Подробнее
                +e.cover
                    +e.cover-name  Завершенный ПРОЕКТ
                    +e.cover-image
                        img(src="img/projects/done_project.jpg")