

* {
    box-sizing: border-box;
    outline: none 0;
    html .clearfix {
        zoom: 1; /* IE6 */
    }
    &:first-child+html .clearfix {
        zoom: 1; /* IE7 */
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


@mixin linear-gradient($args...) {
    background-image: -o-linear-gradient($args);
    background-image: -moz-linear-gradient($args);
    background-image: -webkit-linear-gradient($args);
    background-image: linear-gradient($args);
}