.color {
    &_blue {
        color: $blue-color;
    }
    &_green {
        color: $green-color;
    }
}


p, ul {
    color: #656565;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0 0 15px;
}

ul {
    li {
        padding-left: 14px;
        margin-bottom: 15px;
        list-style: none;
        position: relative;
        &:before {
            content: "";
            width: 5px;
            height: 5px;
            background: #4968ce;
            display: inline-block;
            position: absolute;
            left: 0;
            top:6px;
        }
    }
    @include desktop-hd {
        font-weight: 300;
    }
    @include desktop-2k {
        font-weight: 300;
        font-size: 18px;
    }
}

p {
    font-size: 15px;
    line-height: 1.3;
    font-weight: 400;
    @include desktop-hd {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
    }
    @include desktop-2k {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;
    }
}

.section-title {
    font-family: 'Yanone Kaffeesatz';
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #999999;
    @include tablet-portrait {
        font-size: 16px;
    }
    @include desktop {
        font-size: 18px;
    }
    @include desktop-hd {
        font-size: 22px;
        margin-bottom: 8px;
    }
}
.title {
    font-family: "Gotham Pro Medium";
    color: #0f1516;
    font-size: 48px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: -0.2rem;
    margin: 15px 0 0 -3px;
    &_stripped {
        display: inline-block;
        font-family: inherit;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100vw;
            height: 26px;
            bottom: 7px;
            margin-left: -4px;
            background: url("../img/pattern.png");
            z-index: -1;
        }
    }
}
.subtitle {
}
