include ../../node_modules/bemto.pug/bemto


// VARIABLES
- var phone = "8 800 123-45-67";
- var phone_alt = "88001234567";


doctype html
head
    meta(charset='UTF-8')
    title LEXION Development
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel="shortcut icon" href="favicon.ico")

    script(src="//api-maps.yandex.ru/2.1/?lang=ru-RU")
    script(src="js/sourcebuster.min.js")
    script.
        sbjs.init({
            domain: {
                host: 'localhost',
                isolate: true
            }
        })

body

    +b.header
        +e.A.logo
            img(src="img/header_logo.svg")

    #fullpage

        include sections_alt/projects.pug
        include sections_alt/projects-detail.pug



        .section.team
            .team__super-wrapper
                .section-title Наша команда
                .team__wrapper
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_1.jpg')
                        .team-person__name Сергей <br> Казадаев
                        .team-person__regal ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_2.jpg')
                        .team-person__name Эдуард <br>Сурков
                        .team-person__regal ЗАМЕСТИТЕЛЬ <br>ГЕНЕРАЛЬНОГО ДИРЕКТОРА
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_3.jpg')
                        .team-person__name Алексей <br>Лухтан
                        .team-person__regal Директор департамента <br> маркетинга и продаж



    // --------  INCLUDE SCRIPTS  ---------
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js')
    script(src='//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js')
    script(src="js/jquery.validate.js")
    script(src='js/ouibounce.min.js')
    script(src="js/main.js")