include ../../node_modules/bemto.pug/bemto


// VARIABLES
- var phone = "8 (495) 252-01-89";
- var phone_alt = "+74952520189";


doctype html
head
    meta(charset='UTF-8')
    title LEXION Development
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel="shortcut icon" href="favicon.ico")

    script(src="//api-maps.yandex.ru/2.1/?lang=ru-RU")
    script(src="js/sourcebuster.min.js")
    script.
        sbjs.init({
            domain: {
                host: 'localhost',
                isolate: true
            }
        })

body
    #preloader


    +b.header
        +e.A.logo(href="javascript:;" onclick="goTo(1)")
            img(src="img/header_logo.svg")
        +b.hamburger
            +e.line-top
            +e.line
            +e.line-bottom

    +b.navigation
        +e.SPAN.before
        +e.IMG.logo(src="img/header_logo.svg")
        ul
            li
                a(href="javascript:;" onclick="goTo(2)" data-index="2")  О компании
            li
                a(href="javascript:;" onclick="goTo(3)" data-index="3") Наши проекты
            li
                a(href="javascript:;" onclick="goTo(5)" data-index="5") Команда
            li
                a(href="javascript:;" onclick="goTo(6)" data-index="6") Партнеры
            li
                a(href="javascript:;" onclick="goTo(7)" data-index="7") Контакты

    #fullpage
        .section.home-screen
            include ../img/bg1_anim.svg
            a.logo
                img(src="img/logo.svg")
            include blocks/scroll-down-btn.pug



        .section.about
            .section-title О компании
            h2.title#about-title
                span.title_stripped Lexion
                br
                | Development
            .about__text-wrapper
                p
                    span.color_blue «Lexion Development»
                    |  — девелоперская компания, которая осуществляет полный спектр действий на рынке недвижимости от разработки концепции проектов до их строительства, реализации и последующего управления готовым объектом.
                p
                    span.color_blue Целью
                    |  компании является реализация масштабных строительных проектов в сегментах коммерческой и жилой недвижимости г. Москвы и Московской области.
                p
                    span.color_blue Приоритетом
                    |  компании является своевременная и качественная реализация проектов. Это становится возможным благодаря команде высококвалифицированных специалистов и профессиональному подходу в управлении проектами.
                //p Приоритетом компании является своевременная и качественная реализация проектов. Это становится возможным благодаря команде высококвалифицированных специалистов и профессиональному подходу в управлении проектами.
            include blocks/scroll-down-btn.pug


        include sections/projects.pug
        include sections_alt/projects-detail.pug



        .section.team
            .team__super-wrapper
                .section-title Наша команда
                .team__wrapper
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_1.jpg')
                        .team-person__name Сергей <br> Казадаев
                        .team-person__regal ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_2.jpg')
                        .team-person__name Эдуард <br>Сурков
                        .team-person__regal ЗАМЕСТИТЕЛЬ <br>ГЕНЕРАЛЬНОГО ДИРЕКТОРА
                    figure.team-person
                        .team-person__photo
                            img(src='img/mobile/team_3.jpg')
                        .team-person__name Алексей <br>Лухтан
                        .team-person__regal Директор департамента <br> маркетинга и продаж


        .section.partners
            .partners__row
                .section-title Наши партнеры
                .section-title
                .section-title
            .partners__row
                +b.A.partner(href="https://www.sberbank.ru/ru/person" target="_blank")
                    +e.logo
                        img(src='img/partners/partner_1.svg')
                    //+e.name  ПАО Сбербанк России
                +b.A.partner(href="https://www.vtb24.ru/" target="_blank")
                    +e.logo
                        img(src='img/partners/partner_2.svg')
                    //+e.name  ПАО Банк ВТБ 24
                +b.A.partner(href="http://1magistral.ru/" target="_blank")
                    +e.logo
                        img(src='img/partners/partner_3.svg')
                    //+e.name  ООО «Магистраль-1»
            .partners__row
                +b.A.partner(href="http://l-engineering.ru/" target="_blank")
                    +e.logo
                        img(src='img/partners/partner_4.svg')
                    //+e.name  ООО «Л-Инжиниринг»
                +b.A.partner(href="https://biganto.com/" target="_blank")
                    +e.logo
                        img(src='img/partners/partner_5.svg')
                    //+e.name  Проект Biganto Visual
                +b.A.partner(href="http://www.uninova.ru/" target="_blank")
                    +e.logo
                        img(src='img/partners/uninova_logo.svg')



        +b.footer.section
            +e.left.contacts
                +e.title  Лексион-Девелопмент
                +e.text
                    | г. Москва, ул. Большая Татарская, д. 13, стр. 1.<br>
                    | ММДЦ "Москва-Сити", МФК "Город столиц", 5 этаж <br>
                    | Тел.: #{phone} <br>
                    | E-mail: mail@lexion-development.ru
                +e.copyright © Copyright, Lexion Development, 2012
            +e.right.map#map




    // ------ MODAL FORM ---------
    .popup#popup_form(style="display:none;")
        include blocks/lpc-form.pug

    // --------  TY POPUP ----------
    +b.popup_ty#ty_popup(style="display:none;")
        +e.H3.title Благодарим вас за заявку!
        +e.B.subtitle В скором времени наши специалисты свяжутся с вами и подберут вам до 5 вариантов по вашим критериям!
        +e.P.postscriptum P.S. Также на вашу почту мы уже выслали дополнительную ценную информацию. Проверяйте :- )

    // -------- EXIT POPUP -----------
    +b.popup_exit#exit_popup(style="display:none;")
        +e.H3.title Не спешите уходить!


    // --------  INCLUDE SCRIPTS  ---------
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js')
    script(src='//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js')
    script(src='//cdn.jsdelivr.net/velocity/1.5/velocity.min.js')
    script(src="js/jquery.validate.js")
    script(src='js/ouibounce.min.js')
    script(src="js/main.js")