.btn {
    font-family: 'Yanone Kaffeesatz';
    background: $btn-color;
    border: none;
    cursor: pointer;
    transition: all 230ms ease-in;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 200;
    color: #fff;
    padding: 14px 50px 10px;
    &:hover {
        background: darken($btn-color, 12%);
    }

    &_green {
        background: $green-color;
        &:hover {
            background: darken($green-color, 12%);
        }
    }
    &_blue {
        background: $blue-color;
        &:hover {
            background: darken($blue-color, 12%);
        }
    }
    &_block {
        width: 100%;
    }
    @include desktop-hd {
    }
}
