

.footer {
    padding: 0 !important;
    &__left {
        background: #101010;
        color: #fff;
        padding: 13px;
        padding-bottom: 85px;
        position: relative;
    }
    &__right {
    }

    &__title {
        font-size: 24px;
        font-family: 'Yanone Kaffeesatz';
        letter-spacing: 0.14em;
        padding: 1rem 0;
        line-height: 1;
    }
    &__text {
        font-weight: 100;
        line-height: 1.7;
        color: #999999;
    }
    &__copyright {
        position: absolute;
        bottom: 13px;
        font-weight: 100;
        color: #393939;
    }
    .map {
        min-height: 425px;
        &.lpc-yandex-map_theme_greyscale {
            //filter: grayscale(100%);
        }
        .ymaps-2-1-60-ground-pane {
            filter: grayscale(100%);
        }
    }


    @include tablet-landscape {
        display: flex;
        &__left {
            width: 50%;
        }
        &__right {
            width: 50%;
            height: 100%;
            > ymaps {
                width: 50vw;
            }
        }
    }

    @include desktop {
        &__left {
            padding: 35px;
            width: 35%;
        }
        &__right {
            width: 65%;
        }
        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
            font-weight: 100;
            line-height: 1.6;
            color: #999999;
        }
    }

    @include desktop-2k {
        &__title {
            font-size: 70px;
        }
        &__text {
            font-size: 19px;
        }
        &__copyright {
            font-size: 18px;
            color: #717171;
        }
        &__left {
            padding: 90px;
        }
    }
}