.hamburger {
    //border: 1px solid #000;
    width: 40px;
    height: 34px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(255,255,255,0.85);
    &__line {
        height: 2px;
        width: 70%;
        background: #3d3d3d;
        position: relative;
        &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: #3d3d3d;
            position: absolute;
            transition: all 230ms ease-in-out;
        }
        &:before {
            top: -8px;
        }
        &:after {
            bottom: -8px;
        }
    }
    &_active {
        .hamburger__line {
            &:before {
                width: 50%;
                transform: translate(15px, 3px) rotateZ(45deg) ;
            }
            &:after {
                width: 50%;
                transform: translate(15px, -3px) rotateZ(-45deg) ;
            }
        }
    }
}

.fp-viewing-0 {
    .hamburger {
        background: rgba(255,255,255,0);
        &__line {
            background: #fff;
            &:before, &:after {
                background: #fff;
            }
        }
        &_active {
            .hamburger__line {
                background: #3d3d3d;
                &:before, &:after {
                    background: #3d3d3d;
                }
            }
        }
    }
}
