

.header {
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    transition: all 350ms ease-in-out;
    transform: translateY(0);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    &__logo {
        display: inline-block;
        width: 78px;
        background: rgba(255,255,255,0.9);
        padding: 5px 8px;
        border:1px solid rgba(0,0,0,0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: -1px;
        transition: all 300ms ease-in-out;
        transform: translateX(-100%);
        img {
            width: 100%;
        }
    }
    @include desktop-hd {
        &__logo {
            width: 78px * 1.5;
        }
    }
    @include desktop-2k {
        &__logo {
            width: 78px * 2;
        }
    }
}




.fp-viewing {
    &-1, &-2, &-3, &-4, &-5, &-7, &-8, &-9, &-10 {
        .header {
            &__logo {
                transform: translateX(0);
            }
        }
    }
}

.fp-viewing-6 {
    .header {
        @include tablet-landscape {
            transform: translateY(-100%);
        }
    }
}



