.lpc-input {
    width: 100%;
    font-size: 10pt;
    font-weight: normal;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    &_styled {
        padding: 0.8rem;
        border: 2px solid #ddd;
        transition: all 230ms ease-in;
        &:focus {
            border-color: #aaa;
        }
    }
}

