
.logo {
    display: table;
    margin: 0 auto;
    > img {
        width: 212px;
    }
    @include tablet-portrait {
        > img {
            width: 300px;
        }
    }
    @include desktop {
        > img {
            width: 390px;
        }
    }
    @include desktop-hd {
        > img {
            width: 518px;
        }
    }
    @include desktop-2k {
        > img {
            width: 650px;
        }
    }
}