

.lpc-form {
    &__small-text {
        display: block;
        font-size: 8pt;
        padding: 0.6rem 0;
        text-align: center;
    }
    .input-wrapper {
        position: relative;
        margin-bottom: 0.8rem;
    }


    .lpc-input {
        position: relative;
        &.invalid {
            border-color: #e74c3c;
        }
        &.success {
            border-color: #2ecc71;
        }
        & + span {
            position: absolute;
            width: 13px;
            height: 13px;
            border: 1px solid;
            border-radius: 50%;
            right: 10px;
            top:50%;
            transform: translateY(-50%);
            cursor: help;
            &:before {
                content: "?";
                font-size: 10px;
                position: absolute;
                left: 3px;
            }
            .invalid {
                position: absolute;
                white-space: nowrap;
                top:0;
                left: 30px;
                font-size: 8pt;
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                .invalid {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &_info_hide {
        .lpc-input + span {
            display: none !important;
        }
    }
}






.lpc-policy {
    padding: 0.5rem 0;
    font-size: 8pt;
    color: #797979;
    &__row {
        display: block;
        padding-bottom: 0.8rem;
    }
    &__checkbox {
        float: left;
        margin-right: 0.6rem;
        &.invalid {
            & + span {
                color: red;
                font-weight: bold;
                & + .lpc-policy__text {
                    display: none;
                }
            }
        }
    }
    &__text {
        display: table;
        a {
            color: inherit;
        }
    }
    &__detail {
        border-bottom: 1px dashed;
        text-decoration: none;
    }
    &__hidden {
        padding-left: 2rem;
        max-width: 340px;
        word-break: keep-all;
        color: #aaa;
        display: none;
    }
}