.navigation {
    position: fixed;
    right: 0;
    z-index: 90;
    background: rgba(255,255,255,0.98);
    width: 230px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid rgba(0,0,0,0.1);
    box-shadow: -1px 0 10px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: all 300ms ease-in-out;
    padding-top: 100px;
    &__before {
        content: "";
        background: transparent;
        width: 100vw;
        height: 100%;
        position: absolute;
        top:0;
        right: 100%;
        display: none;
    }
    &__logo {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 30px;
        //filter: grayscale(100%);
        opacity: 0.3;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: block;
            &:before {
                display: none;
            }
            a {
                text-decoration: none;
                font-family: "Yanone Kaffeesatz";
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 0.2rem;
                color: #3d3d3d;
                opacity: 0.7;
                &.active {
                    color: #000;
                    opacity: 1;
                    //border-bottom: 1px dashed;
                }
            }
        }
    }
    &_active {
        transform: translateX(0);
        .navigation__before {
            display: block;
        }
    }
    @include desktop-hd {
        width: 300px;
        a {
            font-weight: 400;
        }
    }
}