.phone {
  text-align: right;
  &__number {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    &:hover {
      text-decoration: underline;
    }
  }
  &__descript {
    font-size: 0.8em;
  }
}