.scroll-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21px;
    animation: bounce 2s infinite 2s;
    cursor: pointer;
    z-index: 100;
    > svg {
        width: 21px;
        height: 70px;
        display: none;
        opacity: 0.6;
    }
    &__text {
        line-height: 1;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.05rem;
        transform-origin: center center;
        transform: translate(2px, 20px) rotate(-90deg);
        opacity: 0.4;
    }
    &__chevron {
        display: block;
        width: 28px;
        height: 2px;
        position: relative;
        margin-top: 60px;
        opacity: 0.7;
        &:before, &:after {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            transform: rotate(35deg);
            left: 2px;
            background: #fff;
            border-radius: 10px;
        }
        &:after {
            left: auto;
            right: 2px;
            transform: rotate(-35deg);
        }
    }

    @include desktop {
        > svg {
            display: block;
            margin-top: 50px;
        }
        &__chevron {
            display: none;
        }
    }
    @include desktop-2k {
        margin-bottom: -60px;
    }
}






@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
