@import "../../node_modules/normalize.css/normalize.css";
@import "global/helpers";
@import "global/fonts";
@import "global/fontGotham";


// ------------------
//      BASE VARS
// ------------------

$base-font: 'Gotham Pro', Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-color: #101010;
//$accent-color: #6175b6;
$accent-color: #4968ce;
$btn-color: #ccc;
$container-width: 960px;

$blue-color: rgb(0,121,113);
$green-color: #84bc46;



@mixin mobile {
    @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
    @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape {
    @media (min-width: 900px) { @content; }
}
@mixin desktop {
    @media (min-width: 1340px) { @content; }
}
@mixin desktop-hd {
    @media (min-width: 1800px) { @content; }
}
@mixin desktop-2k {
    @media (min-width: 2300px) { @content; }
}


@import "global/layout";
.section {
    padding: 107px 13px 13px 13px;
    @include desktop {
        padding: 35px;
        padding-top: 136px;
    }
}
.home-screen {
    padding-top: 13px;
}


.fp-fix {
    .fp-section {
        height: auto !important;
    }
}



// ------------------------------------
//          T Y P O G R A P H Y
// ------------------------------------
@import "global/typography";



// ------------------------------------
//          B L O C K S
// ------------------------------------
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ccc url('../img/loader.svg') no-repeat center center;
    background-size: 50px;
}

@import "blocks/hamburger";
@import "blocks/navigation";
@import "blocks/logo";
@import "blocks/phone";
@import "blocks/header";
@import "blocks/scroll-button";
@import "blocks/lpc-form";
@import "blocks/buttons";
@import "blocks/inputs";
@import "blocks/footer";

.popup { max-width: 450px; }

.lpc-yandex-map__marker {
    transform: translate(-50%, -100%);
    display: table;
    > img {
        width: 60px;
    }
}



// ------------------------------------
//          S E C T I O N S
// ------------------------------------


@import "sections/home";

@import "sections/about";

@import "sections/projects";

@import "sections/project-detail_alt";

@import "sections/team";

@import "sections/partners";




.ignore, .fp-fix .ignore {
    padding: 0;
    height: 0 !important;
    visibility: hidden;
}