+b.FOOTER.footer
    .container
        +e.A.link(href="docs/conf-policy.pdf" target="_blank") Политика конфиденциальности
        +e.A.link(href="docs/pers-data.pdf" target="_blank") Обработка персональных данных