+b.A.scroll-btn
    .scroll-btn__text SCROLL
    <svg id="top-arr-svg" viewBox="0 0 21 70"><style>.st0{fill:none; stroke:#fff;}</style><path class="st0" d="M10.5 0v60.1m9.6-5.6H.9L10.5 69z"/></svg>
    .scroll-btn__chevron